name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Checkout KernelPatch
        uses: actions/checkout@v5
        with:
          repository: bmax121/KernelPatch
          path: /home/runner/work/KPM-Build-Anywhere/KPM-Build-Anywhere/KernelPatch

      - name: test
        run: ls -R /home/runner/work/KPM-Build-Anywhere/KPM-Build-Anywhere/KernelPatch
        
      - name: install deps
        run: sudo apt update && sudo apt install -y build-essential

      - name: extract shit # download speed limited https://developer.arm.com/-/media/Files/downloads/gnu/14.2.rel1/binrel/arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-elf.tar.xz
        run: tar -xf arm-gnu-toolchain-14.2.rel1-x86_64-aarch64-none-elf.tar.xz

      - name: Build
        run: make

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello.kpm
          path: hello.kpm        shell: bash
        working-directory: ${{ github.workspace }}

  
